*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .line-bg img{
        height: 33px;
        width: 100%;
    }

    .intro-title{
        margin: 20px 20px;
        display: flex;
        justify-content: center;
    }
    .intro-images{
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    .intro-images div img{
        display: block;
    }

    .arrow-down{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .cordura-text{
        margin: 20px 20px;
    }

    .jacket-intro{
        display: flex;
        justify-content: center;
    }
}